@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: monospace;
  line-height: 1.6;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}
